body
{
	background-color: red;
	color: white;
	text-align: center;
	
}

h1{
	height: 7em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

p
{
	font-size: 20px;
	height: 5em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.floating_image
{
	float: left;
	align-items: left;
	left: -10vw;
}

#myButton {
	display: inline-block;
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-top: 500px;
	cursor: pointer;
	position: relative;
	left: -10vw;
	
}

#myButton2 {
	display: inline-block;
	text-decoration-color: red;
	background-color: #D3D3D3;
	border: none;
	color: red;
	border: none;
	font-size: 20px;
	text-decoration: underline;
	position: relative;
	cursor: pointer;
	right: -10vw;
}