body
{
	background-color: black;
	color: red;
	text-align: center;
	
}

p
{
	font-size: 20px;
}

.floating_image
{
	float: center;
	align-items: center;
}

#myButton {
	display: inline-block;
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	position: relative;
	left: -10vw;
	
}

#myButton2 {
	display: inline-block;
	text-decoration-color: red;
	background-color: black;
	border: none;
	color: red;
	border: none;
	font-size: 20px;
	text-decoration: underline;
	position: relative;
	cursor: pointer;
	right: -10vw;
}